Homeworks/HM1/.idea
Homeworks/HM1/out
Homeworks/HM1.iml
Homeworks/HM1/iml
Homeworks/HM1/HM1.iml

Homeworks/HM2/.idea
Homeworks/HM2/out
Homeworks/HM2.iml
Homeworks/HM2/iml
Homeworks/HM2/HM1.iml

Homeworks/HW3/.idea
Homeworks/HW3/out
Homeworks/HW3.iml
Homeworks/HW3/iml
Homeworks/HW3/HW3.iml

.idea
.gitignore

Reports

