Homeworks/HM1/.idea
Homeworks/HM1/out
Homeworks/HM1.iml
Homeworks/HM1/iml
Homeworks/HM1/HM1.iml

Homeworks/HM2/.idea
Homeworks/HM2/out
Homeworks/HM2.iml
Homeworks/HM2/iml
Homeworks/HM2/HM1.iml

Homeworks/HM3/.idea
Homeworks/HM3/out
Homeworks/HM3.iml
Homeworks/HM3/iml
Homeworks/HM3/HM1.iml

.idea
.gitignore

Reports

