<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" type = "text/css" href = "resources/css/reset.css"/>
    <link rel = "stylesheet" type = "text/css" href = "resources/css/currencyConverter.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
    <style>
body {
    font-family: 'Cabin';font-size: 22px;
}
</style>
</head>
<body>
<div class = "welcome"> Currency Converter</div>
<a href="/admin">Go to admin</a>
<div class = "calculate">
    <form action="#" th:action="@{/conversion}" th:object="${conversion}" method="post">
        <p>From</p>
        <select th:field="*{fromCurrency}">
            <option th:value="SEK" th:text="SEK"></option>
            <option th:value="USD" th:text="USD"></option>
            <option th:value="EUR" th:text="EUR"></option>
            <option th:value="GBP" th:text="GBP"></option>
        </select>
        <br>
        <p>To</p>
        <select th:field="*{toCurrency}">
            <option th:value="SEK" th:text="SEK"></option>
            <option th:value="USD" th:text="USD"></option>
            <option th:value="EUR" th:text="EUR"></option>
            <option th:value="GBP" th:text="GBP"></option>
        </select>
        <p>Amount</p>
            <input type="text" th:field="*{amount}" />
        <br>
        <input type="submit" value="Convert" />
        <br>
        <span class="error"
              th:if="${#fields.hasErrors('amount')}"
              th:errors="*{amount}">

        </span>
    </form>
    <br>

</div>
</body>
</html>